<!DOCTYPE html>
<html lang="zh-cn" >
<head>
    <link rel="dns-prefetch" href="https://www.zhoulujun.cn">
    <meta property="qc:admins" content="6701301207545256636" />
    <meta property="wb:webmaster" content="8baa6e7bb45eab5e" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <link href="{CSS_PATH_CDN}frontend/reset.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH_CDN}search.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{CDN_JQUERY}"></script>
    <script type="text/javascript" src="{JS_PATH_CDN}cookie.js"></script>
    <script type="text/javascript" src="{JS_PATH_CDN}search_common.js"></script>
    <link href="favicon.ico" rel="bookmark" type="image/x-icon" />
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!--[if lt IE 9]>
    <script src="https://libs.useso.com/js/html5shiv/r29/html5.min.js"></script>
    <script src="https://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>