
.submit,.pass-logo a,.form-login .input label,.item span{display:inline-block;zoom:1;*display:inline;}
.blue,.blue a{color:#377abe}
.log{line-height:24px; height:24px;float:right; font-size:12px}
.log span{color:#ced9e7}
.log a{color:#049;text-decoration: none;}
.log a:hover{text-decoration: underline;}
#header{ height:94px; background:url(../../../statics/images/member/h.png) repeat-x}
#header .logo{ padding-right:100px;float:left;background:url(../../../statics/images/member/login-logo.png) no-repeat right 2px;}
#header .content{width:920px; margin:auto; height:60px;padding:10px 0 0 0}
#content{width:920px; margin:auto; padding:36px 0 0 0}
.form-login{ width:440px; padding-left:40px}
.form-login h2{font-size:25px;color:#494949;border-bottom: 1px dashed #CCC;padding-bottom:3px; margin-bottom:10px}
.form-login .input{ padding:7px 0}
.form-login .input label{ width:84px;font-size:14px; color:#888; text-align:right}
.take,.reg{padding:0 0 0 84px}
.take .submit{ margin-top:10px}
.form-login .hr{background: url(../../../statics/images/member/line.png) no-repeat left center; height:50px;}
.form-login .hr hr{ display:none}

.submit{padding-left:3px}
.submit,.submit input{ background: url(../../../statics/images/member/but.png) no-repeat; height:29px;cursor:hand;}
.submit input{background-position: right top; border:none; padding:0 10px 0 7px; font-size:14px}
.reg{ color:#666; line-height:24px}
.reg .submit{background-position: left -35px; height:35px}
.reg .submit input{background-position: right -35px; font-weight:700; color:#fff; height:35px}

.col-1{position:relative; float:right; border:1px solid #c4d5df; zoom:1;background: url(../../../statics/images/member/member_title.png) repeat-x; width:310px; margin: auto; height:304px}
.col-1 span.o1,
.col-1 span.o2,
.col-1 span.o3,
.col-1 span.o4{position:absolute;width:3px;height:3px; overflow:hidden;background: url(../../../statics/images/fillet.png) no-repeat}
.col-1 span.o1{background-position: left -6px; top:-1px; left:-1px}
.col-1 span.o2{background-position: right -6px; top:-1px; right:-1px}
.col-1 span.o3{background-position: left -9px; bottom:-1px; left:-1px}
.col-1 span.o4{background-position: right -9px; bottom:-1px; right:-1px;}
.col-1 .title{color:#386ea8; padding:5px 10px 3px}
.col-1 div.content{padding:0px 10px 10px}
.col-1 div.content h5{background: url(../../../statics/images/member/ext-title.png) no-repeat 2px 10px; height:34px}
.col-1 div.content h5 strong{ visibility: hidden}
.pass-logo{ margin:auto; width:261px; padding-top:15px}
.pass-logo p{border-top: 1px solid #e1e4e8; padding-top:15px}
.item{padding:10px 0; vertical-align:middle; margin-bottom:10px}
.item span{ color:#8c8686}
.login-list li{ float:left;height:26px; margin-bottom:14px;width:123px;background:url(../../../statics/images/member/mbg.png) no-repeat}
.login-list li a{ display:block;background-repeat:no-repeat; background-position:6px 5px;height:26px; padding-left:36px; line-height:26px}
.login-list li a:hover{text-decoration: none;}
#footer{color:#666; line-height:24px;width:920px; margin:auto; text-align:center; padding:12px 0; margin-top:52px; border-top:1px solid #e5e5e5}
#footer a{color:#666;}

@media (max-width: 800px){
    #header{width: 100%;overflow: hidden;}
    #content{width: 100%;}
    .form-login h2{font-size: 16px;}
   #content{padding: 0;}
    .form-login{float: none;padding: 0;width: 96%;margin: 0 auto;}
    .input>div{display: block;margin: 6px 0 0 84px;}
    .col-auto{float: none;}
    .col-1{float: none;height: auto;width: 98%;margin: 20px auto;}
    .logo{margin-left: 20px;}
    #footer{width: 100%;}
}



