<section class="tc footer-info">
    <p>
        <a rel="nofollow" href="mailto:529892056@qq.com" title="周陆军的email" target="_blank"><strong>邮箱</strong></a>
        <a rel="nofollow" href="https://weibo.com/zhoulujun/home" title="周陆军的weibo" target="_blank"><strong>微博</strong></a>
        <a rel="nofollow" href="https://user.qzone.qq.com/634117608" title="周陆军的qZone" target="_blank"><strong>QQ空间</strong></a>
        <a rel="nofollow" href="https://www.zhihu.com/people/zhoulujun/posts" title="知乎主页" target="_blank"><strong>知乎主页</strong></a>
        <a rel="nofollow" href="https://github.com/zhoulujun" title="周陆军的git" target="_blank"><strong>github</strong></a>
        <a rel="nofollow" href="https://plus.google.com/+ZhoulujunCnandy/posts" title="周陆军的google+" target="_blank"><strong>google+</strong></a>
        <a rel="nofollow" href="https://www.facebook.com/zhoulujun" title="周陆军的facebook" target="_blank"><strong>facebook</strong></a>
        <a rel="nofollow" href="https://www.youtube.com/user/englishforandzhou" title="周陆军的youtube" target="_blank"><strong>youtube</strong></a>
    </p>
    <p>
        <span class="">CopyRight &copy; 2009-2025</span>
        <a href="https://www.zhoulujun.cn">https://www.zhoulujun.cn</a>
        <span>All Rights Reserved&nbsp;&nbsp;<a rel="nofollow" href="http://icp.chinaz.com/info?q=zhoulujun.cn">粤ICP备14085374号</a></span>
    </p>
    {tjcode()}{php echo runhook('glogal_footer')}
</section>