{template "content","header"}
<!--main-->
<article class="main-content wrap">
    <article class="col-left fl">
        <section class="hots-list fl">
            <label class="hots-label">NEWS</label>
            {pc:content action="newcontent"  num="10" order="listorder DESC" }
            {loop $data $r}
            <h5 class="blue {if $n==1} h4-first{/if}"><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></h5>
            {if $n==1}
            <a class="hots-list-p" href="{$r[url]}">
                <img class="img-load-bg" width="90" height="52"  src="https://cache.zhoulujun.cn/images/andy/logo_my.png" data-src="{thumb($r[thumb],90,52)}" alt="{$r[title]}" />
                <p class="hots-list-txt">{str_cut($r[description],262)}</p>
            </a>
            {else}
            <a  class="hots-list-p txth" href="{$r[url]}">{str_cut($r[description],112)}</a>
            {/if}
            {/loop}
            {/pc}
        </section>
        <section class="hots-list rec-list fr">
            <label class="hots-label">TOP</label>
            <header class="blue swap-tap">
                <label class="active">Front-end</label><label >Recommended </label><label >Most read</label>
            </header>
            <ul class="tab-item">
                {pc:content action="hits" catid="115" num="10" order="views DESC"}
                {loop $data $r}
                {php $num++}
                <li class="{if $num%2==0}even{/if}"><a href="{$r[url]}" title="{$r[title]}"{title_style($r[style])}>{$r[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
            <ul class=" tab-item hidden">
                {pc:content  action="position" posid="2" order="listorder DESC" num="10"}
                {loop $data $r}
                <li {if $n%2==0}class='even'{/if}><a href="{$r[url]}" >{$r[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
            <ul class=" tab-item hidden">
                {pc:content action="sitehits" siteid="1" num="10" order="views DESC" cache="3600"}
                {loop $data $r}
                <li {if $n%2==0}class='even'{/if}><a href="{$r[url]}" >{$r[title]}</a></li>
                {/loop}
                {/pc}
            </ul>
        </section>
        <article class="wrap clear hots-pic">
            <h4 class="blue">Must See</h4>
            <div  id="slider2_container" class="slides-box" >
                <!-- Loading Screen -->
                <div u="loading" class="loading"></div>
                <!-- Slides Container -->
                <div class="slides" u="slides" >
                    {pc:content  action="position" posid="12" thumb="1" order="listorder DESC" num="18"}
                    {loop $data $r}
                    {php $count++}
                    <div>
                        <a u="image" href="{$r[url]}" title="{$r[title]}">
                            <img class="img-load-bg" width="100" height="100"  src="https://cache.zhoulujun.cn/images/andy/logo_my.png" data-src="{thumb($r[thumb],90,52)}" alt="{$r[title]}" />

                            <p class="pic-title">{str_cut($r[title],20)}</p>
                        </a>
                    </div>
                    {/loop}
                    {/pc}
                </div>
            </div>
            <div class="clear"></div>
        </article>
        {php $countFuck=0}
        {loop subcat(0,0,0,$siteid) $r}
        {pc:content action="lists" catid="$r[catid]"  num="10" thumb="1" order="listorder DESC,updatetime DESC" return="info"}
        {if !empty($info)&&$r[catid]!=128}
            <section class="hots-list {if $countFuck%2==0} fl{else} fr{/if}" >
                <h4 class="blue">{$r[catname]}<a class="more" href="{$r[url]}" >more>></a></h4>
                <div class="content">
                    {loop $info $v}
                    {if $n==1}
                    <a class="hots-list-p" href="{$v['url']}" title="{$v['title']}">
                        <img class="img-load-bg" width="90" height="60"  src="https://cache.zhoulujun.cn/images/andy/logo_my.png" data-src="{thumb($v[thumb],90,60)}" alt="{$v['title']}"/>
                        <p class="hots-list-txt">{str_cut($v['description'],280)}  </p>
                    </a>
                    <ol class="tab-item">
                    {/if}
                    {if $n!=1}
                    <li {if $n%2==0}class='even'{/if}><a href="{$v['url']}" title="{$v['title']}"{title_style($v[style])}>{str_cut($v['title'],40)}</a></li>
                    {/if}
                    {/loop}
                    </ol>
                </div>
            </section>
            {php $countFuck++}
        {/if}
        {/pc}
        {/loop}
        {php $count=null}
        </section>
    </article>
    <aside class="col-right fr">
        <article class="box">
            <h5>Announcement<a href="" class="more">&nbsp;</a></h5>
            {pc:announce  action="lists" siteid="$siteid" num="4"}
            <ul class="tab-item ">
                {loop $data $r}
                <li {if $n%2==0}class='even'{/if}> <a href="{APP_PATH}index.php?m=announce&c=index&a=show&aid={$r['aid']}">{$r['title']}</a></li>
                {/loop}
            </ul>
            {/pc}
        </article>
        <article class="box top15">
            <h5 >WikiHow <a href="{APP_PATH}index.php?m=special&c=index&a=special&siteid={$siteid}" class="more">more>></a></h5>
            <div  id="slider1_container" class="slides-box" >
                <!-- Loading Screen -->
                <div u="loading" class="loading"></div>
                <!-- Slides Container -->
                <div class="slides" u="slides" >
                    {pc:content  action="position" posid="1"  order="listorder DESC" thumb="1" num="10"}
                    {loop $data $r}
                    <div>
                        <a u=image href="{$r['url']}" title="{str_cut($r['title'],30)}">
                            <a class="slides-title txth" href="{$r['url']}"> {str_cut($r['title'],180)}</a>
                            <img class="img-load-bg" width="300" height="245"  src="https://cache.zhoulujun.cn/images/andy/logo_my.png" src="{thumb($r['thumb'],300,245)}" alt="{$r['title']}"/>
                        </a>
                    </div>
                    {/loop}
                    {/pc}
                </div>
                <div u="navigator" class="navigator" style="">
                    <div u="prototype"></div>
                </div>
            </div>
        </article>
        <!--广告-->
        <div class="top15 ov ads-h300" id="RightTop"></div>
        {pc:special  action="lists" siteid="$siteid" elite="1" listorder="3" num="2"}
        {if !empty($data)}
        <article class="box top15">
            <h5 >Headlines<a href="{APP_PATH}index.php?m=special&c=index&a=special&siteid={$siteid}" class="more">more>></a></h5>
            <section class="tab-pic">
                {loop $data $r}
                <a href="{$r[url]}">
                    <img class="img-load-bg"  src="https://cache.zhoulujun.cn/images/andy/logo_my.png"  data-src="{$r[thumb]}" width="90" height="70" alt="{str_cut($r[title],'10')}"/>
                    <section>
                        <h6>{str_cut($r[title],'18')}</h6>
                        <p>
                            {str_cut($r['description'],50)}
                        </p>
                    </section>
                </a>
                {/loop}
            </section>
        </article>
        {/if}
        {/pc}
    </aside>
</article>
{template "content","footer"}

</body>
</html>