<aside class="col-right fr">
    {pc:content action="sitehits" siteid="1" num="6" order="views DESC" cache="3600"}
    {if !empty($data)}
    <article class="box">
        <h5 >Most read</h5>
        <ul class="tab-item ">
            {loop $data $v}
            {php $rank++}
            <li {if $n%2==0}class='even'{/if}><label class="rank-list btn-primary" title="点击排名"><strong>{$rank}</strong> <span class="icon-font">&#xe605;</span></label><a href="{$v[url]}" {title_style($v[style])}>{$v[title]}</a></li>
            {/loop}

        </ul>

    </article>
    {/if}
    {/pc}

    {pc:content action="hits" catid="115" num="6" order="views DESC"}
    {if !empty($data)}
    <nav class="box top15">
        <h5 >Recommended</h5>
        <ul class="tab-item ">
            {loop $data $v}
            <li {if $n%2==0}class='even'{/if}><label class="rank-label btn-success" title="点击次数"><strong>{number_format($v[monthviews])}</strong> <span class="icon-font">&#xe605;</span></label><a href="{$v[url]}"{title_style($v[style])} class="title" title="{$v[title]}">{str_cut($v[title],56,'...')}</a></li>
            {/loop}
            {/pc}
        </ul>

    </nav>
    {/if}
    {/pc}

    {pc:content  action="position" posid="12" thumb="1" order="listorder DESC" num="6" cache="3600"}
    {if !empty($data)}
    <nav class="box top15">
        <h5 >Long Reads</h5>
        <ul class="tab-item ">
            {loop $data $v}
            <li {if $n%2==0}class='even'{/if}><label class="rank-label btn-success" title="点击次数"><strong>{number_format($v[monthviews])}</strong> <span class="icon-font">&#xe605;</span></label><a href="{$v[url]}"{title_style($v[style])} class="title" title="{$v[title]}">{str_cut($v[title],56,'...')}</a></li>
            {/loop}
            {/pc}
        </ul>

    </nav>
    {/if}
    {/pc}
</aside>

