<aside class="col-right fr">
    <article class="box tc">
        <h5>求打赏</h5>
        <p class="top10">
            <span class="fl half">支付宝</span>
            <span class="fr half">微信</span>
        </p>
        <div class="clear"></div>
        <p class="tab-item top10">
            <img  alt="打赏我" class="fullW" src="{IMG_PATH}andy/pay.png">
        </p>
    </article>
    {pc:content action="hits" catid="$catid" num="10" order="views DESC" cache="3600"}
    {if !empty($data)}
    <article class="box top15">
        <h5 >频道总排行</h5>
        <ul class="tab-item ">
            {loop $data $v}
            {php $rank++}
            <li {if $n%2==0}class='even'{/if}><label class="rank-list btn-primary" title="点击排名"><strong>{$rank}</strong> <span class="icon-font">&#xe605;</span></label><a href="{$v[url]}" {title_style($v[style])}>{$v[title]}</a></li>
            {/loop}

        </ul>
    </article>
    {/if}
    {/pc}
    {pc:content action="hits" catid="$catid" num="8" order="monthviews DESC" cache="3600"}
    {if !empty($data)}
    <article class="box top15">
        <h5 >频道本月排行</h5>

        <ul class="tab-item ">

            {loop $data $v}
            <li {if $n%2==0}class='even'{/if}><label class="rank-label btn-success" title="点击次数"><strong>{number_format($v[monthviews])}</strong> <span class="icon-font">&#xe605;</span></label><a href="{$v[url]}"{title_style($v[style])} class="title" title="{$v[title]}">{str_cut($v[title],56,'...')}</a></li>
            {/loop}
            {/pc}
        </ul>

    </article>
    {/if}
    {/pc}
    <!--广告-->
    <div id="RightBottom" class="top15 ov ads-h300"></div>
</aside>