
<div id="mood" >
	<ul class="mood-ul ">
		{loop $setting $k $v}
		<li>
			<div class="vote-bg"><div class="vote-show {if isset($key) && $key==$k} vote-pass{/if}" style="height:{$v[per]}px;"></div></div>
			<div>{$data[$v['fields']]}</div>
			<div>{if $v[pic]}<img src="{IMG_PATH}{$v[pic]}">{/if}</div>
			<div>{$v[name]}</div>
			<div><input type="radio" id="n{$k}" name="n" onclick="vote({$k})" {if isset($key) && $key==$k} checked{/if}></div>
		</li>
		{/loop}
	</ul>
</div>
<script type="text/javascript">
function vote(id) {
	$.getJSON('{APP_PATH}index.php?m=mood&c=index&a=post&id={$mood_id}&k='+id+'&'+Math.random()+'&callback=?', function(data){
		if(data.status==1)	{
			$('#mood').html(data.data);
		}else {
			alert(data.data);
		}
	})
}

</script>                                                           